[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "==2.0.6"
gunicorn = "*"
django-heroku = "*"
django-progressive-web-app = "*"
social-auth-app-django = '*'
python-decouple = '*'
django-widget-tweaks = '*'
django-cities-light = '*'
django-filter = '*'
django-datetime-widget = '*'
django-livesync = "*"
whitenoise = "*"
sendgrid = "*"

[requires]
python_version = "3.6"

[dev-packages]
autopep8 = "*"
